<!DOCTYPE html>
<html>
  <head>
    <title>Monesy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "home_page", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "splash_screen", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="image" property="og:image" content="https://raw.githubusercontent.com/ramiaquista/budget-app/main/splash_screen.png" >
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
      <p class="alert"><%= alert %></p>
    </main>
  </body>
</html>
